.zui-table {
    border: solid 1px #c8c6c4;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: rgb(50, 49, 48);
    /*font: normal 13px Arial, sans-serif;*/
  }
  
  .zui-table thead th {
    /*background-color: #323130;*/
    border-bottom: solid 1px #323130;
    color: #323130;
    padding: 10px;
    text-align: left;
  }
  
  .zui-table tbody th {
    border-bottom: solid 1px #c8c6c4;
    color: #333;
    padding: 10px;
  }
  
  .zui-table tbody td {
    border-bottom: solid 1px #c8c6c4;
    color: #333;
    padding: 10px;
    cursor: pointer;
  }
  
  .zui-table-highlight-all {
    overflow: hidden;
    z-index: 1;
  }
  
  .zui-table-highlight-all tbody td,
  .zui-table-highlight-all thead th {
    position: relative;
  }
  
  .zui-table-highlight-all tbody td:hover::before {
    background-color: #f3f2f1;
    content: '\00a0';
    height: 100%;
    left: -5000px;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: -1;
  }
  
  .zui-table-highlight-all tbody td:hover::after {
    background-color: #f3f2f1;
    content: '\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
  }
  
  .lookAtMe {
    /* Yellow10 */
    background-color: #fce100;
  
    color: black !important;
  }
  
  .zui-table tbody td.is-selected {
    background-color: rgb(192, 212, 232);
  }
  