# XrmDefinitelyTyped redistributables
XrmDefinitelyTyped/XrmDefinitelyTyped/

# Ignore Webpack build output
*.WebResources/dist/

# Ignore unpacked WebResources except for metadata files
*.Solution/Solution/WebResources/**/*
!*.Solution/Solution/WebResources/**/
*.Solution/Solution/WebResources/**/*.*
!*.Solution/Solution/WebResources/**/*.data.xml
