# XrmDefinitelyTyped redistributables
XrmDefinitelyTyped/XrmDefinitelyTyped/

# Ignore Webpack build output
*.WebResources/dist/

# Ignore unpacked WebResources except for metadata files
*.Solution/Solution/WebResources/**/*
!*.Solution/Solution/WebResources/**/
*.Solution/Solution/WebResources/**/*.*
!*.Solution/Solution/WebResources/**/*.data.xml

# Ignore unpacked PluginAssemblies except for metadata files
*.Solution/Solution/PluginAssemblies/**/*
!*.Solution/Solution/PluginAssemblies/**/
*.Solution/Solution/PluginAssemblies/**/*.*
!*.Solution/Solution/PluginAssemblies/**/*.data.xml
