# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pr:
- master

pool:
  vmImage: 'vs2017-win2016'

variables:
  - group: CodeSigning
  - name: BuildPlatform
    value: 'any cpu'
  - name: BuildConfiguration
    value: 'release'
  - name: Version.MajorMinor
    value: '1.0'
  - name: Version.Patch
    value: $[counter(variables['Version.MajorMinor'], 0)]
  - name: SolutionName
    value: 'Compliance'

steps:
- task: DownloadSecureFile@1
  name: KeyFile
  displayName: 'Download Code Signing Key File'
  inputs:
    secureFile: '$(KeyFile.Name)'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Import Certificate" $pfxpath = '$(KeyFile.secureFilePath)'
      $password = '$(KeyFile.Password)'
      Add-Type -AssemblyName System.Security
      $cert = New-Object System.Security.Cryptography.X509Certificates.X509Certificate2
      $cert.Import($pfxpath, $password, [System.Security.Cryptography.X509Certificates.X509KeyStorageFlags]"PersistKeySet")
      $store = new-object system.security.cryptography.X509Certificates.X509Store -argumentlist "MY", CurrentUser
      $store.Open([System.Security.Cryptography.X509Certificates.OpenFlags]"ReadWrite")
      $store.Add($cert)
      $store.Close()

- task: NuGetCommand@2
  displayName: 'Restore .NET Framework NuGet Packages'

- task: DotNetCoreCLI@2
  displayName: 'Restore .NET Core NuGet Packages'
  inputs:
    command: restore
    projects: '**/*.csproj'

- task: VSBuild@1
  displayName: 'Build Solution'
  inputs:
    vsVersion: 15.0
    platform: '$(BuildPlatform)'
    configuration: '$(BuildConfiguration)'

- task: WaelHamze.xrm-ci-framework-build-tasks.MSCRMToolInstaller.MSCRMToolInstaller@9
  displayName: 'Install MSCRM Tools'

- task: WaelHamze.xrm-ci-framework-build-tasks.MSCRMSetVersion.MSCRMSetVersion@10
  displayName: 'Set PowerApps Solution Version'
  inputs:
    target: xml
    unpackedFilesFolder: src/$(SolutionName).Solution/Solution
    versionNumber: '$(Version.MajorMinor).$(Version.Patch)'

- task: WaelHamze.xrm-ci-framework-build-tasks.MSCRMPackSolution.MSCRMPackSolution@10
  displayName: 'Pack PowerApps Solution Version'
  inputs:
    unpackedFilesFolder: src/$(SolutionName).Solution/Solution
    mappingFile: src/$(SolutionName).Solution/map.xml
    packageType: Both
    outputPath: '$(Agent.TempDirectory)'
    localize: false
